<a href="https://colab.research.google.com/github/KimJunGu9/ADP_ML/blob/main/3_3_RandomForest(%ED%9A%8C%EA%B7%80).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 3. 랜덤 포레스트 (Random Forest)

# 배깅과 부스팅보다 더 많은 무작위성을 주어 약한 학습기들을 생성한 후 이를 선형결합하여 최종 학습기를 만드는 방법
# 수천 개의 변수를 변수 제거 없이 모델링하므로 정확도 측면에서 좋은 성과를 보임
# 이론적 설명이나 최종 결과에 대한 해석이 어렵다는 단점이 있지만 예측력이 매우 높은 것으로 알려져 있음
# 입력변수가 많은 경우 배깅과 부스팅과 비슷하거나 좋은 예측력을 보임


# 분류의 경우
# sklearn.ensemble.RandomForestClassifier(...)

# 회귀의 경우
# sklearn.ensemble.RandomForestRegressor(...)


# n_estimators : RandomForest에서 나무의 수 (int, default = 100)
# criterion : 분할의 품질을 측정하는 방법 ({“gini”, “entropy”}, default=”gini”)
# max_depth : 나무의 최대 깊이. (int, default = None)
#         None이면 모든 잎이 순수하거나 잎에 min_sample_split 미만의 샘플만 존재할 때까지 노드 확장
# min_samples_split : 내부 노드를 분할하는 데 필요한 최소 샘플 수 (int or float, default=2)
# min_samples_leaf : 리프 노드에 있어야하는 최소 샘플 수 (int or float, default=1)
# max_leaf_nodes : 리프 노드의 최대 개수 (int, default = None)
#            None이면 리프 노드 수에 제한이 없음
# bootstrap : 나무를 만들 때 부트 스트랩 샘플이 사용되는지 여부 (bool, default=True)
#       False이면 전체 데이터 세트가 각 트리를 작성하는 데 사용
# oob_score : 정확도 측정을 위해 out-of-bag 샘플을 사용할지 여부 (bool, default=False)

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/ADP/Part.2/1. 통계분석/data/data/kc_house_data.csv')

In [4]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,standard,0,3,7,1180,0,1955,0,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,standard,0,3,7,2170,400,1951,1991,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,standard,0,3,6,770,0,1933,0,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,standard,0,5,7,1050,910,1965,0,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,standard,0,3,8,1680,0,1987,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,standard,0,3,8,1530,0,2009,0,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,standard,0,3,8,2310,0,2014,0,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,standard,0,3,7,1020,0,2009,0,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,standard,0,3,8,1600,0,2004,0,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,standard,0,3,7,1020,0,2008,0,1020,1357

In [5]:
df = df.drop(['id','date'], axis=1)

In [6]:
X = df.drop('price',axis=1)
y = df['price']

In [7]:
X = pd.get_dummies(data = X, columns=['waterfront'])

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=2021)

In [9]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(n_estimators=50)

reg = reg.fit(X_train, y_train)
Y_pred = reg.predict(X_test)

In [10]:
print("train 정확도 : ", reg.score(X_train, y_train))
print("test 정확도 : ", reg.score(X_test, y_test))

train 정확도 :  0.9609764540935142
test 정확도 :  0.7567727516329958

In [11]:
# 변수 중요도

In [13]:
# 변수의 중요도 확인

importances = pd.DataFrame(np.mean([tree.feature_importances_ for tree in reg.estimators_], axis=0))

feature_importances = pd.concat([pd.DataFrame(X.columns), importances], axis=1)
feature_importances.columns=["col_name","feature_importance"]

feature_importances = feature_importances.sort_values(by="feature_importance",ascending=False).reset_index(drop=True)
feature_importances

                 col_name  feature_importance
0                   grade            0.384764
1             sqft_living            0.234536
2                yr_built            0.100488
3           sqft_living15            0.063589
4              sqft_lot15            0.043976
5                sqft_lot            0.035586
6              sqft_above            0.027581
7                    view            0.024358
8               bathrooms            0.022939
9           sqft_basement            0.016621
10  waterfront_river_view            0.011736
11               bedrooms            0.008746
12    waterfront_standard            0.008132
13              condition            0.006647
14                 floors            0.005414
15           yr_renovated            0.004887

In [14]:
# Out of Bag 샘플을 활용한 성능 측정

In [15]:
reg = RandomForestRegressor(n_estimators=100, 
                             min_samples_split=5, 
                             oob_score=True)
reg = reg.fit(X, y)

In [16]:
print(f"oob score : {reg.oob_score_}")

oob score : 0.7513311043400374